POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password  # Твой пароль от базы
POSTGRES_DB=management_db        # Имя твоей базы данных
POSTGRES_HOST=db                 # Для Docker тут должно быть имя сервиса базы данных!
POSTGRES_PORT=5432

JWT_SECRET_KEY=SUPER_SECRET_KEY_KOTORYI_NIKTO_NE_DOLZHEN_ZNATS
JWT_ALGORITHM=HS256